body { font-size:12px; }
article { padding-top: 72px; width:1020px; margin-left:auto; margin-right:auto; }
article h1 { font-size:28px; text-align:center; padding-bottom:24px; }
table { border: 0px solid #999999; width:100%; }
table tr th { font-size:14px; min-height:32px; padding:12px; border-bottom:1px solid #666666; }
table tr td { font-size:12px; min-height:26px; padding:12px; border-bottom:0px solid #a4a4a4; }
table tr td.action_box { text-align:right; }
